# Analysis: ICE detainers in Travis County, Texas
This notebook has the scripts to clean and analyze data returned in response to a request for ICE detainer records in Travis County. The sheriff posts [PDFs of daily reports](https://www.tcsheriff.org/inmate-jail-info/ice-listing) generated by database software, but the Statesman requested, and received, a spreadsheet version of these reports. This file lives at `raw_data/ICE - Detainer Added.xlsx`.

In [15]:
%%bash

# use csvkit to turn the spreadsheet into a CSV
in2csv "raw_data/ICE - Detainer Added.xlsx" > raw_data/data.csv

# trim six lines from the head and 10 from the tail
count=$(wc -l < raw_data/data.csv | sed 's/ //g'); trim=$(echo $count - 10 | bc); \
tail -n +6 raw_data/data.csv | head -n $trim > raw_data/trimmed_data.csv

# report line count
wc -l < raw_data/trimmed_data.csv | sed 's/ //g'

53439

/Library/Python/2.7/site-packages/openpyxl/workbook/names/named_range.py:121: UserWarning: Discarded range with reserved name
  warnings.warn("Discarded range with reserved name")

In [16]:
from __future__ import print_function

import csv
from collections import Counter

import agate
from text_transforms import COUNTRIES, VIOLENT_CRIMES, FELONIES


def name_unmangler(name_str):
    try:
        name_split = name_str.split(',')
        return (name_split[0], name_split[1])
    except:
        return name_str


with open('raw_data/trimmed_data.csv', 'r') as infile:
    data = csv.reader(infile, delimiter=',')

    # set initial defaults
    inmate_dict = {}
    new_record = False
    booking_id = None
    
    for row in data:
        if new_record:
            booking_id = row[1].strip()
            name = row[2].strip()
            race = row[3].strip()
            sex = row[4].strip()
            age = row[6].strip()
            booking_date = row[7].strip()
            nativity = row[8].strip()
            nativity_clean = nativity
            for country_set in COUNTRIES:
                if nativity == country_set[0]:
                    nativity_clean = country_set[1]            
            
            inmate_dict[booking_id] = {
                'last_name': name_unmangler(name)[0],
                'rest_name': name_unmangler(name)[1],
                'race': race,
                'sex': sex,
                'age': age,
                'booking_date': booking_date,
                'nativity': nativity,
                'nativity_clean': nativity_clean,
                'charges': []
            }
            
            new_record = False
        else:
            rec = inmate_dict.get(booking_id, None)
            if rec:
                if ''.join(row).strip() != '' and row[1].strip() != 'Charge':
                    charge = {}
                    charge['charge_id'] = row[1].strip()
                    charge['charge_description'] = row[2].strip()
                    charge['charge_level'] = row[3].strip()
                    charge['sentence'] = row[4].strip()
                    charge['disposition_date'] = row[6].strip()
                    charge['disposition_description'] = row[8].strip()
                    rec['charges'].append(charge)
        
        # new records are delineated by a blank row
        if ''.join(row).strip() == '' or row[1] == 'Booking No':
            new_record = True
            
    print('who has two thumbs and a dict with', len(inmate_dict), 'keys')
    print('you do that\'s who')

who has two thumbs and a dict with 9533 keys
you do that's who

### Agate it up for basic analysis

In [46]:
# set up some basic analysis for agate
rows = []
column_names = ['booking_id', 'booking_date', 'booking_month_year', 'nativity', 'sex',
                'age', 'race', 'has_felony', 'has_violent']
column_types = [agate.Text(), agate.Date(), agate.Text(), agate.Text(), agate.Text(), 
                agate.Text(), agate.Text(), agate.Boolean(), agate.Boolean()]

# and a list for a counter to get a basic frequency count of charges
charge_list = []

for key in inmate_dict:
    ls = []
    has_felony = False
    has_violent = False
    
    month_year = inmate_dict[key]['booking_date'][:7]

    ls.append(key)
    ls.append(inmate_dict[key]['booking_date'])
    ls.append(month_year)
    ls.append(inmate_dict[key]['nativity_clean'])
    ls.append(inmate_dict[key]['sex'])
    ls.append(inmate_dict[key]['age'])
    ls.append(inmate_dict[key]['race'])
    
    for charge in inmate_dict[key]['charges']:
        charge_list.append(charge['charge_description'])

        if charge['charge_level'] in FELONIES:
            has_felony = True
        if charge['charge_description'].upper() in VIOLENT_CRIMES:
            has_violent = True
            
    ls.append(has_felony)
    ls.append(has_violent)

    rows.append(ls)

print("10 MOST COMMON CHARGES\n----------------------")
for charge in Counter(charge_list).most_common(10):
    print(charge[0] + ":", charge[1])

print('\n')
    
table = agate.Table(rows, column_names, column_types).order_by('booking_date', reverse=True)

# grab some overall grouped totals

# by country
by_country = table.group_by('nativity')

country_totals = by_country.aggregate([
    ('count', agate.Count())
])

sorted_country_totals = country_totals.order_by('count', reverse=True)

print("BY REPORTED COUNTRY OF ORIGIN")
sorted_country_totals.print_table(max_rows=10)
print('\n')

# by sex
by_sex = table.group_by('sex')

sex_totals = by_sex.aggregate([
    ('count', agate.Count())
])

sorted_sex_totals = sex_totals.order_by('count', reverse=True)

print("BY SEX")
sorted_sex_totals.print_table()
print('\n')

# by race
by_race = table.group_by('race')

race_totals = by_race.aggregate([
    ('count', agate.Count())
])

sorted_race_totals = race_totals.order_by('count', reverse=True)

print("BY RACE")
sorted_race_totals.print_table(max_rows=10)
print('\n')

# by felony status
by_felony = table.group_by('has_felony')

print("BY FELONY STATUS")
print(by_felony)
print('\n')

# by violent crime status
by_violent = table.group_by('has_violent')

print("BY VIOLENT CRIME STATUS")
print(by_violent)

10 MOST COMMON CHARGES
----------------------
ICE DETAINER: 9602
DRIVING WHILE INTOXICATED: 2849
ASSLT CAUSES BODILY INJ:FAMILY MEMBER (MA): 1164
TRAFFIC OFFENSE MULTIPLE: 1077
PUBLIC INTOXICATION: 766
DRIVING WHILE INTOXICATED 2ND: 514
DRIVING WHILE INTOXICATED BAC>=0.15: 501
FAIL TO ID GIVING FALSE/FICTIOUS INFO (MB): 424
POSS MARIJ <2OZ (MB): 404
FAIL TO ID FUGITIVE INTENT GIVE FALSE (MA): 382

KeyError: '-booking_date'

### Breakdown by month

In [45]:
table.print_table()

grouped_by_month = table.group_by('booking_month_year')

for grouped_table in grouped_by_month:
    print(grouped_table.select('booking_month_year').rows[0].values()[0])
    grouped_by_sex = grouped_table.group_by('sex')
    sex_totals = grouped_by_sex.aggregate([
        ('count', agate.Count())
    ])

    sorted_sex_totals = sex_totals.order_by('count', reverse=True)

    print("BY SEX")
    sorted_sex_totals.print_table()
    print('\n')

|-------------+--------------+--------------------+---------------+-----+-----+------|
|  booking_id | booking_date | booking_month_year | nativity      | sex | age | ...  |
|-------------+--------------+--------------------+---------------+-----+-----+------|
|  1433138    |   1991-08-17 | 1991-08            | Mexico        | M   | 0   | ...  |
|  9901080    |   1999-05-01 | 1999-05            | Mexico        | M   | 22  | ...  |
|  9905702    |   1999-06-14 | 1999-06            | Mexico        | M   | 27  | ...  |
|  9914436    |   1999-08-05 | 1999-08            | United States | M   | 31  | ...  |
|  9931397    |   1999-11-14 | 1999-11            | Mexico        | M   | 30  | ...  |
|  9933706    |   1999-11-25 | 1999-11            | Mexico        | M   | 22  | ...  |
|  0018288    |   2000-04-21 | 2000-04            | Mexico        | M   | 29  | ...  |
|  0025681    |   2000-06-09 | 2000-06            | Mexico        | M   | 19  | ...  |
|  0035025    |   2000-08-08 | 2000-08            | United States | M   | 17  | ...  |
|  0102014    |   2001-01-14 | 2001-01            | United States | M   | 51  | ...  |
|  0114319    |   2001-04-06 | 2001-04            | Mexico        | M   | 34  | ...  |
|  0123204    |   2001-06-09 | 2001-06            | Mexico        | M   | 30  | ...  |
|  0123519    |   2001-06-11 | 2001-06            | Mexico        | M   | 28  | ...  |
|  0124372    |   2001-06-17 | 2001-06            | Mexico        | M   | 21  | ...  |
|  0137943    |   2001-09-18 | 2001-09            | United States | F   | 41  | ...  |
|  0140737    |   2001-10-06 | 2001-10            | Vietnam       | M   | 28  | ...  |
|  0207367    |   2002-02-21 | 2002-02            | Mexico        | M   | 18  | ...  |
|  0210011    |   2002-03-10 | 2002-03            | Mexico        | M   | 31  | ...  |
|  0210082    |   2002-03-11 | 2002-03            | Mexico        | M   | 47  | ...  |
|  0222395    |   2002-05-29 | 2002-05            | Mexico        | M   | 35  | ...  |
|  ...        |          ... | ...                | ...           | ... | ... | ...  |
|-------------+--------------+--------------------+---------------+-----+-----+------|
1991-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


1999-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


1999-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


1999-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


1999-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2000-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2000-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2000-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2001-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2001-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2001-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     3  |
|------+--------|


2001-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  F   |     1  |
|------+--------|


2001-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2002-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2002-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2002-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2002-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2002-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2003-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2003-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2003-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     3  |
|------+--------|


2003-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2003-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2003-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2003-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2004-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2004-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2005-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2005-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2005-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2005-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2005-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2005-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2006-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2006-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2007-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2007-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2007-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2007-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2007-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2007-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2008-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     3  |
|------+--------|


2008-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     3  |
|------+--------|


2008-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     4  |
|------+--------|


2008-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2008-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     3  |
|------+--------|


2008-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|  F   |     1  |
|------+--------|


2008-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     3  |
|------+--------|


2008-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     1  |
|------+--------|


2008-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     2  |
|------+--------|


2008-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     6  |
|------+--------|


2009-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     5  |
|------+--------|


2009-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     5  |
|------+--------|


2009-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     6  |
|  F   |     1  |
|------+--------|


2009-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     7  |
|------+--------|


2009-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    10  |
|------+--------|


2009-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    17  |
|  F   |     2  |
|------+--------|


2009-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    43  |
|------+--------|


2009-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    55  |
|  F   |     1  |
|------+--------|


2009-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   129  |
|  F   |     9  |
|------+--------|


2009-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   226  |
|  F   |    17  |
|------+--------|


2009-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   178  |
|  F   |    13  |
|------+--------|


2009-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   164  |
|  F   |    17  |
|------+--------|


2010-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   164  |
|  F   |    17  |
|------+--------|


2010-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   209  |
|  F   |    13  |
|------+--------|


2010-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   206  |
|  F   |     8  |
|------+--------|


2010-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   249  |
|  F   |    15  |
|------+--------|


2010-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   252  |
|  F   |    10  |
|------+--------|


2010-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   180  |
|  F   |    12  |
|------+--------|


2010-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   225  |
|  F   |    13  |
|------+--------|


2010-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   260  |
|  F   |    16  |
|------+--------|


2010-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   223  |
|  F   |    12  |
|------+--------|


2010-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   183  |
|  F   |    15  |
|------+--------|


2010-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   203  |
|  F   |     9  |
|------+--------|


2010-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   176  |
|  F   |    11  |
|------+--------|


2011-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   174  |
|  F   |    13  |
|------+--------|


2011-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   143  |
|  F   |    10  |
|------+--------|


2011-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   192  |
|  F   |     9  |
|------+--------|


2011-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   205  |
|  F   |    13  |
|------+--------|


2011-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   172  |
|  F   |     7  |
|------+--------|


2011-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   174  |
|  F   |     9  |
|------+--------|


2011-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   191  |
|  F   |    18  |
|------+--------|


2011-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   177  |
|  F   |    13  |
|------+--------|


2011-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   151  |
|  F   |     7  |
|------+--------|


2011-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   205  |
|  F   |    13  |
|------+--------|


2011-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   163  |
|  F   |    12  |
|------+--------|


2011-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   155  |
|  F   |    11  |
|------+--------|


2012-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   151  |
|  F   |    11  |
|------+--------|


2012-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   125  |
|  F   |    13  |
|------+--------|


2012-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   143  |
|  F   |    10  |
|------+--------|


2012-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   113  |
|  F   |     6  |
|------+--------|


2012-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   114  |
|  F   |     7  |
|------+--------|


2012-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   136  |
|  F   |     5  |
|------+--------|


2012-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    96  |
|  F   |     4  |
|------+--------|


2012-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    93  |
|  F   |     3  |
|------+--------|


2012-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |   107  |
|  F   |     5  |
|------+--------|


2012-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    69  |
|  F   |     4  |
|------+--------|


2012-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    64  |
|  F   |     2  |
|------+--------|


2012-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    93  |
|------+--------|


2013-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    56  |
|  F   |     4  |
|------+--------|


2013-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    69  |
|  F   |     2  |
|------+--------|


2013-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    56  |
|  F   |     1  |
|------+--------|


2013-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    59  |
|  F   |     1  |
|------+--------|


2013-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    63  |
|  F   |     3  |
|------+--------|


2013-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    86  |
|  F   |     3  |
|------+--------|


2013-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    81  |
|  F   |     2  |
|------+--------|


2013-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    74  |
|  F   |     2  |
|------+--------|


2013-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    84  |
|  F   |     7  |
|------+--------|


2013-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    81  |
|  F   |     6  |
|------+--------|


2013-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    70  |
|  F   |     1  |
|------+--------|


2013-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    77  |
|  F   |     2  |
|------+--------|


2014-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    70  |
|  F   |     3  |
|------+--------|


2014-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    67  |
|  F   |     1  |
|------+--------|


2014-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    89  |
|  F   |     3  |
|------+--------|


2014-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    72  |
|  F   |     1  |
|------+--------|


2014-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    74  |
|------+--------|


2014-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    68  |
|  F   |     3  |
|------+--------|


2014-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    62  |
|  F   |     4  |
|------+--------|


2014-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    70  |
|  F   |     3  |
|------+--------|


2014-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    58  |
|  F   |     3  |
|------+--------|


2014-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    53  |
|------+--------|


2014-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    67  |
|  F   |     2  |
|------+--------|


2014-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    51  |
|------+--------|


2015-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    28  |
|  F   |     1  |
|------+--------|


2015-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    26  |
|------+--------|


2015-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    36  |
|  F   |     1  |
|------+--------|


2015-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    25  |
|------+--------|


2015-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    12  |
|------+--------|


2015-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     5  |
|------+--------|


2015-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     8  |
|------+--------|


2015-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    21  |
|------+--------|


2015-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    17  |
|  F   |     1  |
|------+--------|


2015-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    22  |
|------+--------|


2015-11
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    22  |
|------+--------|


2015-12
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    18  |
|------+--------|


2016-01
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    18  |
|  F   |     2  |
|------+--------|


2016-02
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    20  |
|------+--------|


2016-03
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    23  |
|------+--------|


2016-04
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    15  |
|------+--------|


2016-05
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    22  |
|  F   |     1  |
|------+--------|


2016-06
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    29  |
|  F   |     2  |
|------+--------|


2016-07
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    41  |
|  F   |     2  |
|------+--------|


2016-08
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    57  |
|  F   |     4  |
|------+--------|


2016-09
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |    52  |
|  F   |     3  |
|------+--------|


2016-10
BY SEX
|------+--------|
|  sex | count  |
|------+--------|
|  M   |     6  |
|------+--------|

### Questions to explore
- breakdown of detainers by month, then by race, sex, nativity, age, charge, charge level, etc.
- for each month, how many of total detainees had felonies?
- did ending secure communities have an effect on # or type of detainees?